*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
*/
h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
}

.header h1 {
    color: #824936;
    width: 70%;
    line-height: 1.1;
}

.header h4 {
    letter-spacing: 10px;
}

.header h1,
h4 {
    text-align: center;
    margin: 0;
}

.qualities h2 {
    color: #824936;
    text-align: center;
    margin-top: 0;
}

.qualities p {
    width: 47%;
}

.custom h2,
.care h2 {
    color: #F3EED9;
}

.custom p,
.care p {
    color: white;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 4em 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    background-color: #F3EED9;
    min-height: 660px;
    display: flex;
    align-items: center;
}

.custom {
    background-color: #222C2A;
}

.custom__left {
    padding-right: 3em;
}

.care {
    background-color: #824936;
}

.care__right {
    padding-left: 3em;
}

@media (max-width: 1000px) {
    img {
        max-width: 100%;

    }

    .row {
        flex-direction: column;
    }

    .column {
        padding: 5em 0;
    }

    .header {
        height: 100vh;
    }

    .header .container {
        width: 100%;
    }

    .qualities p {
        width: 100%;
        text-align: center;
    }

    .custom__left {
        padding-right: 0;
    }


    .care .row {
        flex-direction: column-reverse;
    }

    .care__right {
        padding-left: 0;
    }

}

@media (max-width: 400px) {
    .header h1 {
        font-size: 40px;
    }
}